.navbar .navbar-brand {
	color: rgba(255, 255, 255, .85);
	font-size: 1rem;
	padding-top: .45rem
}

.jumbotron {
	background: url('../img/jumbo-bg.jpg') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height: 700px;
	padding-top: 150px;
}

.btn,
.active {
	transition: .4s;
}

.btn {
	cursor: pointer;
}

.card {
	width: 75%;
	margin: 0 auto;
}

.list-group-item {
	color: black;
}

.speaker {
	font-size: 1.15rem ;
	font-weight: normal;
}
